<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.iu.home.bankMembers.BankMembersDTO" alias="BankMembersDTO"/>
 		<typeAlias type="com.iu.home.bankMembers.BankMembersDAO" alias="BankMembersDAO"/>
 		<typeAlias type="com.iu.home.bankMembers.RoleDTO" alias="RoleDTO"/>
 		
 		<typeAlias type="com.iu.home.bankBook.BankBookDTO" alias="BankBookDTO"/>
 		<typeAlias type="com.iu.home.bankBook.BankBookDAO" alias="BankBookDAO"/>
 		<typeAlias type="com.iu.home.bankBook.BankBookCommentDTO" alias="BankBookCommentDTO"/>
 		<typeAlias type="com.iu.home.bankBook.BankBookCommentDAO" alias="BankBookCommentDAO"/>
 		
 		<typeAlias type="com.iu.home.bankAccount.BankAccountDTO" alias="BankAccountDTO"/>
 		<typeAlias type="com.iu.home.bankAccount.BankAccountDAO" alias="BankAccountDAO"/>
 		
 		<typeAlias type="com.iu.home.board.impl.BoardDTO" alias="BoardDTO"/>
 		<typeAlias type="com.iu.home.board.impl.BoardDAO" alias="BoardDAO"/>
 		<typeAlias type="com.iu.home.board.impl.BoardFileDTO" alias="BoardFileDTO"/>
 		
 		<typeAlias type="com.iu.home.board.notice.NoticeDTO" alias="NoticeDTO"/>
 		<typeAlias type="com.iu.home.board.notice.NoticeDAO" alias="NoticeDAO"/>
 		
 		<typeAlias type="com.iu.home.board.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
 		
 		<typeAlias type="com.iu.home.board.qna.QnaDTO" alias="QnaDTO"/>
 		<typeAlias type="com.iu.home.board.qna.QnaDAO" alias="QnaDAO"/>
 		
 		<typeAlias type="com.iu.home.bankMembers.BankMembersFileDTO" alias="BankMembersFileDTO"/>
 		
 		
 		<typeAlias type="com.iu.home.util.Pager" alias="Pager"/>
 		<typeAlias type="com.iu.home.util.CommentPager" alias="CommentPager"/>
 		
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
 	
 	</typeAliases>
 </configuration> 