<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.iu.home.bankMembers.BankMembersDTO" alias="BankMembersDTO"/>
 		<typeAlias type="com.iu.home.bankMembers.BankMembersDAO" alias="BankMembersDAO"/>
 		
 		<typeAlias type="com.iu.home.bankBook.BankBookDTO" alias="BankBookDTO"/>
 		<typeAlias type="com.iu.home.bankBook.BankBookDAO" alias="BankBookDAO"/>
 		
 		<typeAlias type="com.iu.home.bankAccount.BankAccountDTO" alias="BankAccountDTO"/>
 		<typeAlias type="com.iu.home.bankAccount.BankAccountDAO" alias="BankAccountDAO"/>
 		
 		<typeAlias type="com.iu.home.notice.NoticeDTO" alias="NoticeDTO"/>
 		<typeAlias type="com.iu.home.notice.NoticeDAO" alias="NoticeDAO"/>
 		
 		<typeAlias type="com.iu.home.qna.QnADTO" alias="QnADTO"/>
 		<typeAlias type="com.iu.home.qna.QnADAO" alias="QnADAO"/>
 		
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="java.util.List" alias="List"/>
 	
 	</typeAliases>
 </configuration> 