<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

<!-- namespace의 값은 사용할 DAO의 풀패키지명 -->
<!-- application 내에서 중복 X -->
<mapper namespace="com.iu.home.bankMembers.BankMembersDAO">
<!-- id는 DAO의 메서드명과 동일하게 -->

	<insert id="setAddFile" parameterType="BankMembersFileDTO">
		INSERT INTO MEMBERFILE (FILENUM, USERNAME, FILENAME, ORINAME) 
		VALUES(FILE_SEQ.NEXTVAL, #{userName}, #{fileName}, #{oriName})
	</insert>

	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO BANKMEMBERS VALUES(#{userName},#{passWord},#{name},#{email},#{phone})
	</insert>
	
	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE USERNAME=#{userName} and PASSWORD=#{passWord}
	</select>
	
	<select id="getSearchByID" parameterType="String" resultType="BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME ASC	
	</select>
	
	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
		<!-- SELECT * FROM BANKMEMBERS WHERE USERNAME=#{userName} -->
		
		SELECT BM.USERNAME,NAME,EMAIL,PHONE,FILENUM,FILENAME,ACCOUNTNUM,BOOKNAME,ACCOUNTDATE
	    FROM BANKMEMBERS BM
	    	
	    	LEFT JOIN
	    	MEMBERFILE MF
	    	ON BM.USERNAME=MF.USERNAME AND BM.USERNAME=#{userName}
	    	
		    LEFT JOIN
		    BANKACCOUNT BA
		    ON BM.USERNAME=BA.USERNAME
		    
		    LEFT JOIN
		    BANKBOOK BB
		    ON BA.BOOKNUM=BB.BOOKNUM
		WHERE BM.USERNAME=#{userName}
	</select>
	
	<resultMap type="BankMembersDTO" id="getMyPageResult">
		<id column="USERNAME" property="userName"/>
		<result column="NAME" property="name"/>	
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<association property="bankMembersFileDTO" javaType="BankMembersFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</association>
		<collection property="bankAccountDTO" javaType="List" ofType="BankAccountDTO">
			<id column="ACCOUNTNUM" property="accountNum"/>
			<result column="ACCOUNTDATE" property="accountDate"/>
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</association>
		</collection>
	</resultMap>

</mapper>
