<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.qna.QnaDAO">
	<sql id="search">
         	WHERE
        	<choose>
        		<when test="kind=='title'">TITLE</when>
        		<when test="kind=='writer'">WRITER</when>
        		<otherwise>CONTENTS</otherwise>
        	</choose>
        	LIKE '%' || #{search} ||'%'
   	</sql>

	<select id="getList" resultType="QnaDTO" parameterType="Pager">
		SELECT * FROM
    	(
        	SELECT ROWNUM R,N.* FROM
            	(SELECT * FROM QNA
            	<include refid="search"></include>
             	ORDER BY NUM DESC) N        
    	)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
		
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
	
		SELECT COUNT(NUM) FROM QNA
		<include refid="search"></include>
           	
	</select>
	
	<select id="getDetail" parameterType="QnaDTO" resultType="QnaDTO">
		SELECT * FROM QNA WHERE NUM=#{num}
	</select>
	
	<insert id="setAdd" parameterType="QnaDTO">
		INSERT INTO QNA (NUM, TITLE, WRITER, CONTENTS, REGDATE, HIT,REF,STEP,DEPTH)
		VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{writer}, #{contents}, sysdate, 0, 0, 0, 0)
	</insert>
	
	<update id="setUpdate" parameterType="QnaDTO">
		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="QnaDTO">
		DELETE QNA WHERE NUM=#{num}
	</delete>

</mapper>